
body {
    background-color: lightblue;
}
h1 {
    font-size: 850%;
    text-align: left;
    margin-top: 0%;
    margin-bottom: -1%;
}
h2 {
    font-size: 230%;
    margin-top: 0%;
}

p {
    float: center;
    font-size: 50px;
}

#secondImg {
    border-radius: 25px;
    margin: auto;
    display: block;
    float: center;
}

#gunterzText {
    color: antiquewhite;
    font-family: 'gunterzblack', Helvetica, sans-serif;
}

#text {
    color: antiquewhite;
    text-align: center;
}

#rounded {
    border-radius: 25px;
    margin: auto;
    display: block;
}

#logo {
    margin-top: 15%;
    font-size: 2000%;
    text-align: right;
    rotate: -30deg;
    margin-bottom: 0%;
    color: antiquewhite;
}

.hiddenLeft {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-800px);
    transition: all 1.5s;
}


.showLeft {
    opacity: 1;
    filter: blur(0);
    transform: translateX(-500px);
} 

.hiddenRight {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(800px);
    transition: all 1.5s;
}


.showRight {
    opacity: 1;
    filter: blur(0);
    transform: translateX(500px);
} 

section {
    display: grid;
    place-items: center;
    align-content: center;
}