
body {
    background-color: antiquewhite;
}
h1 {
    font-size: 850%;
    text-align: left;
    margin-top: 0%;
    margin-bottom: -1%;
}
h2 {
    font-size: 230%;
    margin-top: 0%;
}
#gunterzText {
    color: black;
    font-family: 'gunterzblack', Helvetica, sans-serif;
}

#text {
    color: black;
    text-align: center;
}

#rounded {
    border-radius: 25px;
    width: 50%;
    margin: auto;
    display: block;
}

#logo {
    margin-top: 15%;
    font-size: 2000%;
    text-align: right;
    rotate: -30deg;
    margin-bottom: 0%;
    color: black;
}

  